.notes {
    margin-top: 32px;
}

.notes .ui textarea {
    border: none;
    font-size: 16px;
    padding: 0;
    margin: 32px 0;
}

.ui.items > .item > .content > .header {
    display: block;
    /*    color: red;*/
    cursor: pointer;
}

.ui.items > .item > .meta {
    width: 88px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
    margin-top: 0;
}

.trash.icon {
    cursor: pointer;
}
